<h1>Bulk Email Verifier with CSV File Input</h1>
<form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
  <input type="file" name="sampleFile" />
  <input type='submit' value='Upload!' />
</form>

