<div class="table-container">
  <a href='#' id="csvid">Download CSV</a>
  <table class="domain-table">
    <thead>
      <th>Index</th>
      <th>Email</th>
      <th>Status</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
