<div class="table-container">
  <table class="domain-table">
    <thead>
      <th>Domain</th>
      <th>Emails</th>
      <th>Status</th>
      <th>Verified</th>
      <th>Unverified</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>